.dropdown-container {
  padding: 12px;
  /*  padding-left: 1px;
  padding-right: 5px;
  padding-bottom: 6px;
  padding-top: 6px; */

  margin-top: 5px;
  margin-bottom: 5px;
  /* TODO Styles Revision  */
  border-color: red;
  border-style: dashed;
  background-color: royalblue;
}

.dropdown-container span:hover {
  background-color: #cac9c9;
}

.dropdown-button {
  color: black;
  font-size: 10px;
  border: none;
  border-radius: 10px 10px 5px 10px;
  cursor: pointer;
  font-weight: bolder;
}

.dropdown-button:hover,
.dropdown-button:focus {
  background-color: #cac9c9;
}
.d-button-content {
  font-size: 10px;
  font-weight: bolder;
}
.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
