.link-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 5px 0px 10px 0px;
  align-items: center;
  border-radius: 18px;

  /* TODO Styles Revision  */

  border-color: salmon;
  border-style: dashed;
}
.link-container:hover {
  background-color: #efefeff2;
}

.link-left {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}
.link-left:hover {
  cursor: pointer;
}
.link-left-name {
  padding-left: 10px;
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", SimSun, Heiti,
    sans-serif, STXihei;
  font-size: 1em;
  color: rgb(82, 82, 82);
}
.link-box {
  position: relative;
  display: inline-block;
  padding: 20px;
  text-align: left;
}
.link-badge {
  padding: 2px;
}
