
.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  /* align-items: center; */
  border: solid 2px #d0d0d0;
  border-radius: 0.2em;
 /*  padding: 0.5em 0.8em 0.5em 0.5em; */
  margin-bottom: 1em;
  padding: 0.5em 0.8em 0.5em 0.5em;
  justify-content: space-between;
  margin: 10px 0;
  background: floralwhite;
}


.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.add {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.pomodoro {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}

.marked {
  background-image: url(../../assets/detail-pomo-estimation.png);
}
.nomarked {
  background-image: url(../../assets/detail-pomo-blank.png);
}
