loading {
  --loading-circle-bg-color-default: #333333;
  --loading-circle-bg-color: #fafafa;
}

@keyframes loading {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  display: block;
  z-index: 1;
  margin: 15px auto;
  width: 49px;
  height: 49px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: transparent;
}
/* .loading:hover {
  border-color: rgba(210, 210, 210, 0.5);
}
.loading:hover:before {
  background-color: rgba(210, 210, 210, 0.4);
} */
.loading:before {
  position: absolute;
  display: block;
  content: "";
  z-index: 12;
  top: 4px;
  left: 4px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #fafafa;
}
.loading:after {
  position: absolute;
  display: block;
  top: 0;
  content: "";
  z-index: 11;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-radius: 200px 0 0 0;
  background: linear-gradient(
    45deg,
    rgb(255 99 71) 5%,
    rgb(255 99 71) 50%,
    rgb(255 99 71) 100%
  );
  animation: loading 0.5s linear infinite;
}
